# .github/workflows/publish.yml
# - 预发布 vX.Y.Z-(pre/dev/beta/rc).X 只检查不发布
#- 正式发布 vX.Y.Z 会执行所有检查并使用OIDC的方式发布
name: Publish to pub.dev

on:
  push:
    tags:
      - 'v*.*.*'
      - 'v*.*.*-*.*'

jobs:
  publish:
    permissions:
      contents: read
      id-token: write
    uses: aymtools/flutter-ci/.github/workflows/flutter-publish.yml@v3
